<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Class List</title>
</head>
<body>
<h1>Classes</h1>
<table>
    <thead>
    <tr>
        <th>Class Name</th>
        <th>Teacher Name</th>
        <th>Location</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="class : ${classes}">
        <td th:text="${class.className}">Class Name</td>
        <td th:text="${class.teacherName}">Teacher Name</td>
        <td th:text="${class.location}">Location</td>
        <td>
            <a th:href="@{/classes/edit/{id}(id=${class.id})}">Edit</a>
            <a th:href="@{/classes/delete/{id}(id=${class.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/classes/new">Add New Class</a>
</body>
</html>
