<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Class</title>
</head>
<body>
<h1>New Class</h1>
<form th:action="@{/classes}" th:object="${class}" method="post">
    <label>Class Name: <input type="text" th:field="*{className}"/></label><br/>
    <label>Teacher Name: <input type="text" th:field="*{teacherName}"/></label><br/>
    <label>Location: <input type="text" th:field="*{location}"/></label><br/>
    <button type="submit">Save</button>
</form>
<a href="/classes">Back to List</a>
</body>
</html>
